.right-line {
  min-height: 80px;
  background: rgb(92, 92, 92);
  width: 100%;
  .menu-flex {
    padding: 10px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu {
      width: 60px;
      height: 45px;
      border: 1px solid white;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      display: flex;
      padding: 5px 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      div {
        width: 40px;
        height: 2px;
        background: white;
      }
    }
    .folder {
      position: relative;
      left: 7px;
      &::before {
        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        left: -30px;
        top: 14px;
        background: url("../img/folder.svg");
      }
      h3 {
        color: white;
        margin-left: 7px;
      }
    }
  }
}